{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}<h1 class="display-4">Об авторе проекта</h1>{% endblock %}
{% block content %}
{% load user_filters %}

{% include "include/author_card.html" %}

<!-- Тело страницы -->
<div class="col-md-9">
  <div class="card-body">
    <div class="card-text">
      <p class="lead">Проект сделан в рамках курса Яндекс.Практикум по курсу "Backend Python
        Developed".</br></br>

        Моя социализация - <a href="https://www.instagram.com/nightriddler/" target="_blank">Instagram</a>
      </p>
    </div>
  </div>
</div>
</div>
</main>

{% endblock %}
