{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block header %}<h1 class="display-4">Технологии</h1>{% endblock %}
{% block content %}
{% load user_filters %}

{% include "include/author_card.html" %}

<!-- Тело страницы -->
<div class="col-md-9">
  <div class="card-body">
    <div class="card-text">
      <p class="lead">Что помогло мне сделать проект таким:</br></br>
        - <a href="https://www.djangoproject.com/" target="_blank">Django</a></br>
        - <a href="https://bootstrap-4.ru/" target="_blank">Bootstrap</a></br>
        - <a href="https://www.chartjs.org/" target="_blank">Chart.js</a></br>
        - <a href="https://pixabay.com/ru//" target="_blank">Стоковые картинки</a></br>
        - <a href="https://github.com/nightriddler?tab=repositories" target="_blank">GitHub</a></br></p>
    </div>
  </div>
</div>
</div>
</main>
{% endblock %}
